@font-face {
  font-family: 'DINAlternateRegular';
  src: url("../fonts/DINAlternateRegular.eot");
  src: url("../fonts/DINAlternateRegular.eot") format("embedded-opentype"), url("../fonts/DINAlternateRegular.woff2") format("woff2"), url("../fonts/DINAlternateRegular.woff") format("woff"), url("../fonts/DINAlternateRegular.ttf") format("truetype"), url("../fonts/DINAlternateRegular.svg#DINAlternateRegular") format("svg"); }

body {
  font-family: 'DINAlternateRegular', Helvetica; }

#map {
  height: 100%; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

#info {
  position: absolute;
  top: 50px;
  left: 10px;
  background: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  padding: 10px;
  border: 1px solid #444; }
  #info #total-distance {
    font-size: 40px;
    padding: 0 5px; }

.legend {
  font-size: 11px;
  color: #444; }
